
.favorite{
        color: #ee6c6c;
}

.price {
    background: transparent;
    padding: 0.5rem;
    transition: 0.3s;
    font-weight: 600;
}

.red {
    border: 2px solid var(--red);
    border-radius: 40px;
    color: var(--red);

    &:hover {
        background: var(--red);
        color: var(--white);
    }
}

.green {
    border: 2px solid var(--green);
    border-radius: 40px;
    color: var(--green);

    &:hover {
        background: var(--green);
        color: white;
    }
}

.price-cur {
    font-size: 1.2rem;
    font-weight: 600;
}

@media(max-width:1000px) {
    .list-container {
        padding: 1rem;
        font-size: 0.85rem;
    }

    .price {
        padding: 0.4rem;
        font-size: 0.75rem;
    }
}

@media(max-width:800px) {
    .list-box {
        padding: 0.5rem;
        justify-content: space-between;
    }
}

@media(max-width:700px) {
    .list-box .price-cur {
        font-size: 1rem;
    }

    .col {
        width: fit-content;
    }
}




@media(max-width:500px) {
    .list-grid-btn {
        padding: 1rem 0rem;
    }

    .price {
        padding: 0.4rem;
        font-size: 0.70rem;
    }

    .circle-list {
        display: none;
    }

}

@media(max-width:430px) {
    .list-box{
        font-size: 0.7rem;
        align-items: center;
    }
    .list-grid-btn {
        padding: 1rem 0rem;
    }

    .price {
        /* padding: 0.1rem; */
        /* font-size: 0.70rem; */
    }

    .circle {
        /* display: none; */
    }
}