.home-container {
    padding: 1rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    height: calc(100vh - 80px);
    
}

.heading1 {
    font-size: 6.5rem;
    word-wrap: break-word;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: var(--white);
        color: transparent;
        transition: 0.3s;
    }
}

.heading2 {
    font-size: 6.5rem;
    word-wrap: break-word;
    color: #3a80e9;
}

.iPhoneImg {
    position: relative;
   
}

.bg {
    width: 75%;
    max-width: 300px;
}

.iphone {
    position: absolute;
    top: -30px;
    left: -50px;
    width: 80%;
    max-width: 350px;
}

.iPhoneImg>img {}


.btns {
    padding-top: 30px;
    display: flex;
    gap: 20px;
}


.left-home {
    display: flex;
    flex-direction: column;
    gap: 0px;
}


/* share-container */
.share-container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 2rem;
}
.share-container > img {
    width: 50px;
}


/* Media Quary */

@media(max-width:1100px) {

    .heading2,
    .heading1 {
        font-size: 5rem;
    }
}

@media(max-width:800px) {

    .heading2,
    .heading1 {
        font-size: 3.3rem;
    }

    .home-container {
        padding: 1rem;
        flex-direction: column;
        align-items: center;
        height: 100%;
        text-align: center;
        padding-top: 3rem;
    }

    .left-home {
        align-items: center;
        padding-bottom: 70px;
    }

    .bg {
        width: 70%;
        max-width: 240px;
    }
    
    .iphone {
        position: absolute;
        top: -20px;
        left: 0px;
        width: 80%;
        max-width: 250px;
    }
}